<div>
  <app-header>
    <app-stepper end pageTitle="Confirma Dados" [activeStep]="1"></app-stepper>
  </app-header>

  <ion-content>
    <main class="trial-scroll">
      <div class="trial-container">
        <div class="trial-row">
          <div class="trial-col">
            <div class="trial-text-container">
              <ion-label class="trial-title trial-title--brand-4" token="h48x">
                Você já tem uma conta. Confirme seus dados para continuar
              </ion-label>             
          </div>

          <div class="trial-col trial-col--form">
            <form class="trial-form">
              <div class="trial-input">                
                  <ion-label class="trial-revisao__title" tp-label token="h20x">Dados pessoais</ion-label>
                  <div class="trial-revisao__item">
                    <ion-label tp-label token="p12" ds-color="neutral-8">Nome completo</ion-label>
                    <ion-label class="trial-revisao__dado" tp-label token="p16xb">
                      Ste*** **** ****                      
                    </ion-label>              
                  </div>
                  <div class="trial-revisao__item">
                    <ion-label tp-label token="p12" ds-color="neutral-8">Telefone</ion-label>
                    <ion-label class="trial-revisao__dado" tp-label token="p16xb">
                      *** **** ****088                     
                    </ion-label>              
                  </div>
                  <div class="trial-revisao__item">
                    <ion-label tp-label token="p12" ds-color="neutral-8">E-mail</ion-label>
                    <ion-label class="trial-revisao__dado" tp-label token="p16xb">
                      nob*******.gmail.com
                    </ion-label>              
                  </div>     
                  <div class="trial-revisao__item">
                    <ion-label tp-label token="p12" ds-color="neutral-8">CPF</ion-label>
                    <ion-label class="trial-revisao__dado" tp-label token="p16xb">
                      *******876
                    </ion-label>              
                  </div>    
              </div>      

              <div class="trial-input">                
                <ion-label class="trial-revisao__title" tp-label token="h20x">Endereço</ion-label>
                <div class="trial-revisao__item">
                  <ion-label tp-label token="p12" ds-color="neutral-8">Cidade</ion-label>
                  <ion-label class="trial-revisao__dado" tp-label token="p16xb">
                    Rio ** *******                      
                  </ion-label>              
                </div>
                <div class="trial-revisao__item">
                  <ion-label tp-label token="p12" ds-color="neutral-8">Bairro</ion-label>
                  <ion-label class="trial-revisao__dado" tp-label token="p16xb">
                    Bel***** ****                     
                  </ion-label>              
                </div>
                <div class="trial-revisao__item">
                  <ion-label tp-label token="p12" ds-color="neutral-8">Rua, Avenida etc</ion-label>
                  <ion-label class="trial-revisao__dado" tp-label token="p16xb">
                    **** ****nas
                  </ion-label>              
                </div>     
                <div class="trial-revisao__item">
                  <ion-label tp-label token="p12" ds-color="neutral-8">Número</ion-label>
                  <ion-label class="trial-revisao__dado" tp-label token="p16xb">
                    ****
                  </ion-label>              
                </div>    
                <div class="trial-revisao__item">
                  <ion-label tp-label token="p12" ds-color="neutral-8">Complemento</ion-label>
                  <ion-label class="trial-revisao__dado" tp-label token="p16xb">
                    Blo****
                  </ion-label>              
                </div>    
            </div>         

                <div class="trial-button margin-top-24">
                  <ion-button mode="ios" expand="block" fill="clear" no-padding="true"
                    >Voltar</ion-button
                  >
                  <ion-button
                    mode="ios"
                    expand="block"
                    class="trial-button-color"
                    >Continuar</ion-button
                  >
                </div>          
            </form>
          </div>
        </div>
      </div>
    </main>
  </ion-content>
</div>
