<div>
  <app-header></app-header>

  <ion-content>
    <main class="trial-scroll">
      <div class="trial-container">
        <div class="trial-row">
          <div class="trial-col">
            <div class="trial-text-container">
              <ion-label class="trial-title trial-title--brand-4" token="h32x">
                Olá, {{name}}!
              </ion-label>
              <ion-label
                class="margin-top-24"
                token="p16x"
                ds-color="neutral-8"
              >
                O MEDGRUPO agradece sua visita mas, no momento, essa versão do
                MEDSoft é destinada apenas para novos alunos.
              </ion-label>
            </div>
          </div>
        </div>
      </div>
    </main>
  </ion-content>
</div>
