.stepper {
  display: flex;
  align-items: center;

  &--none {
    display: none;
  }

  &__steps {
    height: 24px;
    min-width: 24px;
    border-radius: 50%;
    background-color: hsl(var(--med-color-neutral-25));
    border: 1px solid hsl(var(--med-color-neutral-25));
    display: flex;
    justify-content: center;
    align-items: center;

    &--active {
      background-color: transparent;
      border: 1px solid hsl(var(--med-color-neutral-4));

      ion-label {
        color: hsl(var(--med-color-neutral-10));
      }
    }

    .med-icon {
      display: none;
      height: 16px;
      width: 16px;
      color: hsl(var(--med-color-brand-3));
    }

    &--checked {
      color: hsl(var(--med-color-brand-3));

      ion-label {
        display: none;
      }

      .med-icon {
        display: block;
      }
    }
  }

  &__dados {
    margin-right: 16px;

    @media only screen and (max-width: 768px) {
      margin-right: 12px;
    }
  }

  &__line {
    width: 12px;
    height: 0;
    border-bottom: 1px dashed hsl(var(--med-color-neutral-3));
    margin: 0 4px;
  }
}
