<header class="trial-header">
  <div class="trial-header__container">
    <div class="trial-header__logo-container">
      <div class="trial-header__logo-circle">
        <svg class="trial-header__logo">
          <use xlink:href="assets/icon/symbol-defs.svg#icon-medgrupo"></use>
        </svg>
      </div>
      <ion-label class="trial-header__title-logo" token="h20"
        >MEDGRUPO</ion-label
      >
    </div>
    <ion-label class="trial-header__title" token="h20">MEDSoft Trial</ion-label>
  </div>

  <ng-content select="[end]"></ng-content>
</header>
