<header class="trial-header">
  <div class="trial-header__container">
    <div class="trial-header__logo-container" (click)="toHome()">
      <div class="trial-header__logo-circle">
        <svg class="trial-header__logo">
          <use xlink:href="assets/icon/symbol-defs.svg#icon-medgrupo"></use>
        </svg>
      </div>
      <svg class="trial-header__title-logo">
        <use xlink:href="assets/icon/symbol-defs.svg#icon-medgrupo-text"></use>
      </svg>
    </div>
  </div>

  <ng-content select="[end]"></ng-content>
</header>
