<div>
  <app-header>
    <app-stepper end pageTitle="Dados Pessoais" [activeStep]="1"></app-stepper>
  </app-header>

  <ion-content>
    <main class="trial-scroll">
      <div class="trial-container">
        <div class="trial-row">
          <div class="trial-col trial-col--form">
            <form [formGroup]="form" class="trial-form" (submit)="save()">
              <div class="trial-input">
                <ion-label token="p14" ds-color="neutral-8"
                  >Nome completo</ion-label
                >
                <ion-input
                  formControlName="name"
                  mode="md"
                  ds-name="secondary"
                  placeholder="Digite seu nome completo"
                ></ion-input>

                <div class="trial-telefone margin-top-24">
                  <div class="trial-telefone__ddi">
                    <ion-label token="p14" ds-color="neutral-8">País</ion-label>
                    <div
                      class="margin-top-8"
                      tp-container-select
                      ds-name="secondary"
                    >
                      <select tp-select id="tp-select" placeholder="+55">
                        <option placeholder value="" disabled selected>
                          +55
                        </option>
                        <option>+55</option>
                      </select>
                      <div tp-select-header>
                        <p tp-label token="p14">+55</p>
                        <ion-icon class="med-icon" name="med-baixo"></ion-icon>
                      </div>
                      <div tp-select-content>
                        <ul tp-select-list>
                          <li tp-select-item>
                            <p tp-label token="p14">+55</p>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="trial-telefone__numero">
                    <ion-label token="p14" ds-color="neutral-8"
                      >Telefone</ion-label
                    >
                    <ion-input
                      formControlName="phone"
                      type="tel"
                      mode="md"
                      ds-name="secondary"
                      placeholder="00 0000000"
                    ></ion-input>
                  </div>
                </div>

                <ion-label token="p14" ds-color="neutral-8">E-mail</ion-label>
                <ion-input
                  formControlName="email"
                  type="email"
                  mode="md"
                  ds-name="secondary"
                  placeholder="seuemail@gmail.com"
                ></ion-input>

                <div class="margin-top-24">
                  <ion-label token="p14" ds-color="neutral-8"
                    >Digite seu CPF</ion-label
                  >
                  <ion-input
                    formControlName="cpf"
                    mode="md"
                    ds-name="secondary"
                    placeholder="000.000.000-00"
                  ></ion-input>
                </div>
              </div>

              <div class="trial-concordo">
                <ion-item mode="ios" lines="none">
                  <ion-label token="p14" ds-color="neutral-10"
                    >Li e concordo com o
                    <span class="trial-concordo__text" token="p14b"
                      >Aviso de Privacidade</span
                    >
                    e o
                    <span class="trial-concordo__text" token="p14b"
                      >Termo de Uso.</span
                    >
                  </ion-label>
                  <ion-checkbox
                    class="trial-concordo__checkbox"
                    slot="start"
                    value="value-1"
                    mode="md"
                    formControlName="accepted"
                  >
                  </ion-checkbox>
                </ion-item>

                <div class="trial-button margin-top-24">
                  <!-- <ion-button
                    mode="ios"
                    expand="block"
                    fill="clear"
                    no-padding="true"
                    >Voltar</ion-button
                  > -->
                  <ion-button
                    type="submit"
                    mode="ios"
                    expand="block"
                    class="trial-button-color"
                    [disabled]="!isAccepted()"
                    >Continuar</ion-button
                  >
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
  </ion-content>
</div>
