<div>
  <app-header>
    <app-stepper end pageTitle="Dados Pessoais" [activeStep]="1"></app-stepper>
  </app-header>

  <ion-content>
    <main class="trial-scroll">
      <div class="trial-container">
        <div class="trial-row">
          <div class="trial-col trial-col--form">
            <form class="trial-form">
              <div class="trial-input">
                <ion-label token="p14" ds-color="neutral-8"
                  >Nome completo</ion-label
                >
                <ion-input
                  mode="md"
                  ds-name="secondary"
                  placeholder="Digite seu nome completo"
                ></ion-input>

                <div class="trial-telefone margin-top-24">
                  <div class="trial-telefone__ddi">
                    <ion-label token="p14" ds-color="neutral-8">Pais</ion-label>
                    <tp-input-container ds-name="secondary" has-icon="end">
                      <ion-select
                        class="margin-top-8"
                        mode="md"
                        ds-name="secondary"
                        placeholder="+55"
                      ></ion-select>
                      <!-- <ion-icon class="med-icon" slot="end" name="med-baixo"></ion-icon> VER COM BLEGGI-->
                    </tp-input-container>
                  </div>
                  <div class="trial-telefone__numero">
                    <ion-label token="p14" ds-color="neutral-8"
                      >Telefone</ion-label
                    >
                    <ion-input
                      mode="md"
                      ds-name="secondary"
                      placeholder="00 0000000"
                    ></ion-input>
                  </div>
                </div>

                <ion-label token="p14" ds-color="neutral-8">E-mail</ion-label>
                <ion-input
                  mode="md"
                  ds-name="secondary"
                  placeholder="seuemail@gmail.com"
                ></ion-input>

                <div class="margin-top-24">
                  <ion-label token="p14" ds-color="neutral-8"
                    >Digite seu CPF</ion-label
                  >
                  <ion-input
                    mode="md"
                    ds-name="secondary"
                    placeholder="000.000.000-00"
                  ></ion-input>
                </div>
              </div>

              <div class="trial-concordo">
                <ion-item mode="ios" lines="none">
                  <ion-label token="p14b" ds-color="neutral-10"
                    >Li e concordo com o aviso de
                    <span class="trial-concordo__text">privacidade</span> e os
                    <span class="trial-concordo__text">termos de uso</span>
                  </ion-label>
                  <ion-checkbox
                    class="trial-concordo__checkbox"
                    slot="start"
                    value="value-1"
                    mode="md"
                  >
                  </ion-checkbox>
                </ion-item>

                <div class="trial-button margin-top-24">
                  <ion-button mode="ios" expand="block" fill="clear" no-padding="true"
                    >Voltar</ion-button
                  >
                  <ion-button
                    mode="ios"
                    expand="block"
                    class="trial-button-color"
                    >Continuar</ion-button
                  >
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
  </ion-content>
</div>
