<div>
  <header class="trial-header">
    <div class="trial-header__container">
      <div class="trial-header__logo-container">
        <div class="trial-header__logo-circle">
          <svg class="trial-header__logo">
            <use xlink:href="assets/icon/symbol-defs.svg#icon-medgrupo"></use>
          </svg>
        </div>
        <ion-label class="trial-header__title-logo" token="h20"
          >MEDGRUPO</ion-label
        >
      </div>
      <ion-label class="trial-header__title" token="h20"
        >MEDSoft Trial</ion-label
      >
    </div>

    <div class="trial-header__stepper">
      <ion-label class="trial-header__dados" token="p14x" ds-color="neutral-8"
        >Dados pessoais</ion-label
      >

      <div class="trial-header__steps trial-header__steps--active">
        <ion-label token="p10b" ds-color="neutral-6">1</ion-label>
        <ion-icon class="med-icon" name="checkmark-outline"></ion-icon>
      </div>

      <div class="trial-header__line">&nbsp;</div>

      <div class="trial-header__steps">
        <ion-label token="p10b" ds-color="neutral-6">2</ion-label>
        <ion-icon class="med-icon" name="checkmark-outline"></ion-icon>
      </div>

      <div class="trial-header__line">&nbsp;</div>

      <div class="trial-header__steps">
        <ion-label token="p10b" ds-color="neutral-6">3</ion-label>
        <ion-icon class="med-icon" name="checkmark-outline"></ion-icon>
      </div>
    </div>
  </header>

  <ion-content>
    <main class="trial-container trial-container--main">
      <div class="trial-row">
        <div class="trial-col trial-text-container trial-text-container--none">
          <ion-label class="trial-title" token="h48x">
            Podemos te seguir nas suas
            <ion-label class="trial-title trial-title--brand-4" token="h48x"
              >redes sociais?</ion-label
            >
          </ion-label>
          <ion-label class="margin-top-24" token="p16x" ds-color="neutral-8">
            *Escolha pelos menos uma rede social para seguir em frente! :)
          </ion-label>
        </div>

        <div class="trial-col trial-col--form">
          <form class="trial-form">
            <div class="trial-input">
              <ion-label token="p14" ds-color="neutral-8"
                >Qual é a rede social que mais utiliza?</ion-label
              >
              <tp-input-container ds-name="secondary" has-icon="end">
                <ion-select
                  class="margin-top-8"
                  mode="md"
                  ds-name="secondary"
                  placeholder="Selecionar"
                ></ion-select>
                <!-- <ion-icon class="med-icon" slot="end" name="med-baixo"></ion-icon> -->
              </tp-input-container>

              <ion-label token="p14" ds-color="neutral-8"
                >Digite o endereço dela</ion-label
              >
              <ion-input
                mode="md"
                ds-name="secondary"
                placeholder="@usename"
              ></ion-input>
            </div>

            <div class="trial-button">
              <ion-button mode="ios" expand="block" fill="clear"
                >Voltar</ion-button
              >
              <ion-button mode="ios" expand="block" class="trial-button-color"
                >Continuar</ion-button
              >
            </div>
          </form>
        </div>
      </div>
    </main>
  </ion-content>
</div>
