<div>
  <app-header>
    <app-stepper end pageTitle="Redes Sociais"></app-stepper>
  </app-header>

  <ion-content>
    <main class="trial-scroll">
    <div class="trial-container">
      <div class="trial-row">  
        <div class="trial-col trial-col--form">
          <form class="trial-form">
            <div class="trial-input">
              <ion-label token="p14" ds-color="neutral-8"
                >Qual é a rede social que mais utiliza?</ion-label
              >
              <div
                class="margin-top-8"
                tp-container-select    
                ds-name="secondary"
              >
                <select tp-select id="tp-select" placeholder="Selecionar">
                <option placeholder value="" disabled selected>
                  Selecionar
                  </option>
                  <option>Selecionar</option>
                  <option>Selecionar</option>
                  <option>Selecionar</option>
                  <option>Selecionar</option>
                  <option>Selecionar</option>
                </select>
                <div tp-select-header>
                  <p tp-label token="p14">Selecionar</p>
                  <ion-icon class="med-icon" name="med-baixo"></ion-icon>
                </div>
                <div tp-select-content>
                  <ul tp-select-list>
                    <li tp-select-item>
                      <p tp-label token="p14">Selecionar</p>
                    </li>
                    <li tp-select-item>
                      <p tp-label token="p14">Selecionar</p>
                    </li>
                    <li tp-select-item>
                      <p tp-label token="p14">Selecionar</p>
                    </li>
                    <li tp-select-item>
                      <p tp-label token="p14">Selecionar</p>
                    </li>
                    <li tp-select-item>
                      <p tp-label token="p14">Selecionar</p>
                    </li>
                  </ul>
                </div>
              </div>

              <ion-label token="p14" ds-color="neutral-8"
                >Digite o endereço dela</ion-label
              >
              <ion-input
                mode="md"
                ds-name="secondary"
                placeholder="@usename"
              ></ion-input>
            </div>

            <div class="trial-button">
              <ion-button mode="ios" expand="block" fill="clear" no-padding="true"
                >Voltar</ion-button
              >
              <ion-button mode="ios" expand="block" class="trial-button-color"
                >Finalizar</ion-button
              >
            </div>
          </form>
        </div>
      </div>
    </div>
    </main>
  </ion-content>
</div>
