.extensivo-header {
  padding: 32px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;

  @media only screen and (max-width: 768px) {
    padding: 24px;
  }

  &__container {
    display: flex;
    align-items: center;

    @media only screen and (max-width: 768px) {
      height: initial;
    }
  }

  &__logo-container {
    display: flex;
    align-items: center;
    padding-right: 24px;
    border-right: 1px solid hsl(var(--med-color-neutral-3));

    @media only screen and (max-width: 768px) {
      border: none;
    }
  }

  &__logo-circle {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: 2px solid hsl(var(--med-color-neutral-10));
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__logo {
    height: 24px;
    width: 24p;
    fill: hsl(var(--med-color-neutral-10));
  }

  &__title-logo {
    margin-left: 9px;

    @media only screen and (max-width: 768px) {
      display: none;
    }
  }

  &__title {
    padding-left: 24px;

    @media only screen and (max-width: 768px) {
      display: none;
    }
  }

  &__dados {
    margin-right: 16px;

    @media only screen and (max-width: 768px) {
      margin-right: 12px;
    }
  }

  &__stepper {
    display: flex;
    align-items: center;

    &--none {
      display: none;
    }
  }

  &__steps {
    height: 24px;
    min-width: 24px;
    border-radius: 50%;
    background-color: hsl(var(--med-color-neutral-25));
    border: 1px solid hsl(var(--med-color-neutral-25));
    display: flex;
    justify-content: center;
    align-items: center;

    &--active {
      background-color: transparent;
      border: 1px solid hsl(var(--med-color-neutral-4));

      ion-label {
        color: hsl(var(--med-color-neutral-10));
      }
    }

    .med-icon {
      display: none;
      height: 16px;
      width: 16px;
      color: hsl(var(--med-color-brand-3));
    }

    &--checked {
      color: hsl(var(--med-color-brand-3));

      ion-label {
        display: none;
      }

      .med-icon {
        display: block;
      }
    }
  }

  &__line {
    width: 12px;
    height: 0;
    border-bottom: 1px dashed hsl(var(--med-color-neutral-3));
    margin: 0 4px;
  }
}