body {
  min-height: 100vh;
  overflow: hidden;
  background: hsl(var(--med-color-neutral-2));
}

ion-content {
  --background: transparent;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  background: hsl(var(--med-color-neutral-2));
}

::-webkit-scrollbar-thumb {
  background-color: hsl(var(--med-color-neutral-10));
  border-radius: 1px;
}

.trial-container {
  margin: 0 auto;
  padding: 0 24px;
  max-width: 1280px;

  @media only screen and (max-width: 768px) {
    padding: 0;
  }

  &--main {
    @media only screen and (max-width: 768px) {
      overflow: auto;
      height: calc(100vh - 80px);
    }
  }
}

.trial-row {
  display: flex;
  align-items: start;
  margin-top: 80px;

  @media only screen and (max-width: 768px) {
    flex-direction: column;
    margin-top: 0;
  }

  &--loading {
    justify-content: center;
    text-align: center;
    height: calc(100vh - 96px - 2 * 80px);
    align-items: center;

    @media only screen and (max-width: 768px) {
      width: 100%;
      height: calc(100vh - 80px);
    }
  }

  &--center-left {
    align-items: center;
    height: calc(100vh - 96px - 2 * 80px);

    @media only screen and (max-width: 768px) {
      align-items: start;
    }
  }
}

.trial-col {
  flex: 0 0 50%;

  &--form {
    width: 100%;
    overflow: auto;
    height: calc(100vh - 176px);

    @media only screen and (max-width: 768px) {
      overflow: initial;
      height: auto;
    }

    ion-label:not(:first-child) {
      margin-top: 24px;
      display: inline-block;
    }
  }

  &--center {
    min-width: 600px;
    padding: 0 24px;

    @media only screen and (max-width: 768px) {
      min-width: initial;
      width: 100%;
    }
  }

  &--center-left {
    flex: 1;
    max-width: 640px;

    @media only screen and (max-width: 768px) {
      max-width: initial;
      width: 100%;
    }
  }

  &__imagem {
    width: 100%;
    height: 100%;
  }
}

.trial-text-container {
  display: flex;
  flex-direction: column;
  padding: 24px;

  .trial-title {
    font-family: 'FSEmericWeb-Regular';

    &--brand-4 {
      color: hsl(var(--med-color-brand-4)) !important;
    }

    &.hidden {
      display: none;
    }

    @media only screen and (max-width: 768px) {
      font-size: 32px;
      line-height: 40px;
    }
  }

  @media only screen and (max-width: 768px) {
    padding-top: 48px;

    &--none {
      display: none;
    }
  }
}

.trial-input {
  padding: 24px;
}

.trial-button {
  padding: 40px 24px 24px 24px;
  display: flex;
  align-items: center;

  ion-button {
    &:not(:last-child) {
      margin-right: 24px;
    }

    .med-icon {
      height: 24px;
      width: 24px;
      margin-right: 8px;
    }
  }

  @media only screen and (max-width: 768px) {
    ion-button {
      flex: 1;
    }
  }

  &--tela-inicio {
    @media only screen and (max-width: 768px) {
      ion-button {
        flex: 0;
      }
    }
  }
}

.trial-telefone {
  display: flex;

  &__ddi {
    margin-right: 16px;
  }

  &__numero {
    flex: 1;
  }
}

.trial-button-alterar {
  margin-top: 24px;

  .med-icon {
    fill: transparent;
  }
}

.trial-concordo {
  padding: 40px 24px 24px 24px;

  ion-item {
    --padding-start: 0;
    --padding-end: 0;
  }

  &__checkbox {
    margin: 0 18px 0 0 !important;
  }

  &__text {
    color: hsl(var(--med-color-brand-3));
  }
}
