body {
  min-height: 100vh;
  overflow: hidden;
  background: hsl(var(--med-color-neutral-2));

  &:hover {
    ::-webkit-scrollbar-track {
      background: hsl(var(--med-color-neutral-25));
    }

    ::-webkit-scrollbar-thumb {
      background-color: hsl(var(--med-color-neutral-6));
    }
  }
}

ion-content {
  --background: transparent;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 5px;
}

.trial-scroll {
  overflow: auto;
  height: calc(100vh - 96px);

  @media only screen and (max-width: 768px) {
    height: calc(100vh - 80px);
  }
}

.trial-container {
  margin: 0 auto;
  padding: 0 24px;
  max-width: 1280px;

  @media only screen and (max-width: 768px) {
    padding: 0;
  }
}

.trial-row {
  display: flex;
  align-items: start;
  margin-top: 80px;

  @media only screen and (max-width: 768px) {
    flex-direction: column;
    margin-top: 0;
  }
}

.trial-col {
  flex: 0 0 50%;

  &--form {
    width: 100%;

    ion-label:not(:first-child) {
      margin-top: 24px;
      display: block;
    }
  }
}

.trial-text-container {
  display: flex;
  flex-direction: column;
  padding: 24px;

  .trial-title {
    &--brand-4 {
      color: hsl(var(--med-color-brand-4)) !important;
    }

    &.hidden {
      display: none;
    }

    @media only screen and (max-width: 768px) {
      font-size: 32px;
      line-height: 40px;
    }
  }

  @media only screen and (max-width: 768px) {
    padding-top: 48px;

    &--none {
      display: none;
    }
  }
}

.trial-input {
  padding: 24px;
}

.trial-button {
  padding: 40px 24px 24px 24px;
  display: flex;
  align-items: center;

  ion-button {
    &:not(:last-child) {
      margin-right: 24px;
    }

    .med-icon {
      height: 24px;
      width: 24px;
      margin-right: 8px;
    }

    &.trial-button-color {
      color: hsl(var(--med-color-neutral-2));
    }
  }

  @media only screen and (max-width: 768px) {
    ion-button {
      flex: 1;
    }
  }
}

.trial-button-alterar {
  margin-top: 24px;

  .med-icon {
    fill: transparent;
  }
}

.trial-concordo {
  padding: 40px 24px 24px 24px;

  ion-item {
    --padding-start: 0;
    --padding-end: 0;
  }

  &__checkbox {
    margin: 0 18px 0 0 !important;
  }

  &__text {
    color: hsl(var(--med-color-brand-3));
  }

  .trial-button {
    padding: 0;
  }
}

.trial-telefone {
  display: flex;

  &__ddi {
    margin-right: 16px;
  }

  &__numero {
    flex: 1;
  } 
}
