.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.d-inline-block {
  display: inline-block;
}

.hidden {
  display: none !important;
}

.margin-top-8 {
  margin-top: 8px;
}

.margin-bottom-8 {
  margin-bottom: 8px;
}

.margin-bottom-24 {
  margin-bottom: 24px;
}

.margin-bottom-32 {
  margin-bottom: 32px;
}

.margin-right-7 {
  margin-right: 7px;
}

.margin-right-16 {
  margin-right: 16px;
}

.margin-top-16 {
  margin-top: 16px;
}

.margin-top-24 {
  margin-top: 24px;
}

.margin-0 {
  margin: 0 !important;
}

.padding-0 {
  padding: 0 !important;
}

.padding-24 {
  padding: 24px;
}

.padding-top-16 {
  padding-top: 16px;
}

.padding-top-24 {
  padding-top: 24px;
}