<div>
  <app-header>
    <app-stepper pageTitle="Seus Estudos" [activeStep]="2" end></app-stepper>
  </app-header>

  <ion-content>
    <main class="trial-scroll">
      <div class="trial-container">
        <div class="trial-row">
          <div class="trial-col trial-col--form">
            <form
              [formGroup]="form"
              (ngSubmit)="save()"
              class="trial-form"
              appToggleableContainer
            >
              <div class="trial-input">
                <ion-label token="p14" ds-color="neutral-8"
                  >Em qual faculdade você estuda?</ion-label
                >
                <div
                  class="margin-top-8"
                  tp-container-select
                  appToggleable
                  ds-name="secondary"
                >
                  <select tp-select id="tp-select" placeholder="Selecionar">
                    <option
                      [value]="faculdade.id"
                      *ngFor="let faculdade of faculdades; trackBy: trackById"
                    >
                      {{faculdade.description}}
                    </option>
                  </select>                  

                  <div tp-select-header>
                    <p tp-label token="p14">
                      {{findDescription(faculdades,
                      form.get('faculdade')?.value)}}
                    </p>
                    <ion-icon class="med-icon" name="med-baixo"></ion-icon>
                  </div>
                  <div tp-select-content>
                    <ul tp-select-list>
                      <li
                        tp-select-item
                        *ngFor="let faculdade of faculdades; trackBy: trackById"
                        (click)="getControl('faculdade').setValue(faculdade.id)"
                      >
                        <p tp-label token="p14">{{faculdade.description}}</p>
                      </li>
                    </ul>
                  </div>
                </div>
                <ion-label
                    class="trial-estudos__aviso"
                    token="p12x"
                    *ngIf="isInvalid(getControl('faculdade'))"
                  >
                    Faculdade é obrigatório
                  </ion-label>

                <ion-label token="p14" ds-color="neutral-8"
                  >Ano de formação</ion-label
                >
                <div
                  class="margin-top-8"
                  appToggleable
                  tp-container-select
                  ds-name="secondary"
                >
                  <select
                    formControlName="graduacao"
                    tp-select
                    id="tp-select"
                    placeholder="Selecionar"
                  >
                    <option placeholder value="" disabled selected>
                      Selecionar
                    </option>
                    <option
                      *ngFor="let graduacao of graduacoes; trackBy: trackById"
                    >
                      {{graduacao.description}}
                    </option>
                  </select>                  
                  <div tp-select-header>
                    <p tp-label token="p14">
                      {{findDescription(graduacoes,
                      form.get('graduacao')?.value)}}
                    </p>
                    <ion-icon class="med-icon" name="med-baixo"></ion-icon>
                  </div>
                  <div tp-select-content>
                    <ul tp-select-list>
                      <li
                        (click)="form.get('graduacao')?.setValue(graduacao.id)"
                        *ngFor="let graduacao of graduacoes; trackBy: trackById"
                        tp-select-item
                      >
                        <p tp-label token="p14">{{graduacao.description}}</p>
                      </li>
                    </ul>
                  </div>
                </div>
                <ion-label class="trial-estudos__aviso" token="p12x">
                    Ano de Formação é obrigatório
                </ion-label>

                <ion-label token="p14" ds-color="neutral-8">Objetivo</ion-label>
                <div
                  class="margin-top-8"
                  tp-container-select
                  appToggleable
                  ds-name="secondary"
                >
                  <select tp-select id="tp-select" placeholder="Selecionar">
                    <option placeholder value="" disabled selected>
                      Selecionar
                    </option>
                    <option *ngFor="let area of areas; trackBy: trackById">
                      {{area.description}}
                    </option>
                  </select>                  

                  <div tp-select-header>
                    <p tp-label token="p14">
                      {{findDescription(areas, form.get('area')?.value)}}
                    </p>
                    <ion-icon class="med-icon" name="med-baixo"></ion-icon>
                  </div>
                  <div tp-select-content>
                    <ul tp-select-list>
                      <li
                        *ngFor="let area of areas; trackBy: trackById"
                        (click)="form.get('area')?.setValue(area.id)"
                        tp-select-item
                      >
                        <p tp-label token="p14">{{area.description}}</p>
                      </li>
                    </ul>
                  </div>
                </div>
                <ion-label class="trial-estudos__aviso" token="p12x">
                  Objetivo é obrigatório
                </ion-label>

                <ion-label token="p14" ds-color="neutral-8"
                  >Especialidade dos seus sonhos</ion-label
                >
                <div
                  class="margin-top-8"
                  tp-container-select
                  appToggleable
                  ds-name="secondary"
                >
                  <select
                    formControlName="especialidade"
                    tp-select
                    id="tp-select"
                    placeholder="Selecionar"
                  >
                    <option placeholder value="" disabled selected>
                      Selecionar
                    </option>
                    <option
                      [ngValue]="especialidade.id"
                      *ngFor="let especialidade of especialidades; trackBy: trackById"
                    >
                      {{especialidade.description}}
                    </option>
                  </select>                  

                  <div tp-select-header>
                    <p tp-label token="p14">
                      {{findDescription(especialidades,
                      especialidadeControl.value)}}
                    </p>
                    <ion-icon class="med-icon" name="med-baixo"></ion-icon>
                  </div>
                  <div tp-select-content>
                    <ul tp-select-list>
                      <li
                        *ngFor="let especialidade of especialidades; trackBy: trackById"
                        (click)="especialidadeControl.setValue(especialidade.id)"
                        tp-select-item
                      >
                        <p tp-label token="p14">
                          {{especialidade.description}}
                        </p>
                      </li>
                    </ul>
                  </div>
                </div>
                <ion-label class="trial-estudos__aviso" token="p12x">
                  Especialidade é obrigatório
                </ion-label>

                <ion-label token="p14" ds-color="neutral-8"
                  >Concurso dos seus sonhos</ion-label
                >
                <div
                  class="margin-top-8"
                  tp-container-select
                  appToggleable
                  ds-name="secondary"
                >
                  <select tp-select id="tp-select" placeholder="Selecionar">
                    <option
                      *ngFor="let concurso of concursos; trackBy: trackById"
                      placeholder
                      value=""
                      disabled
                      selected
                    >
                      {{concurso.description}}
                    </option>
                  </select>                 

                  <div tp-select-header>
                    <p tp-label token="p14">
                      {{findDescription(concursos,
                      form.get('concurso')?.value)}}
                    </p>
                    <ion-icon class="med-icon" name="med-baixo"></ion-icon>
                  </div>
                  <div tp-select-content>
                    <ul tp-select-list>
                      <li
                        (click)="form.get('concurso')?.setValue(concurso.id)"
                        *ngFor="let concurso of concursos; trackBy: trackById"
                        tp-select-item
                      >
                        <p tp-label token="p14">{{concurso.description}}</p>
                      </li>
                    </ul>
                  </div>
                </div>
                <ion-label class="trial-estudos__aviso" token="p12x">
                  Concurso é obrigatório
                </ion-label>
              </div>

              <div class="trial-button">
                <ion-button
                  mode="ios"
                  expand="block"
                  fill="clear"
                  no-padding="true"
                  (click)="goBack()"
                  >Voltar</ion-button
                >
                <ion-button
                  mode="ios"
                  type="submit"
                  expand="block"
                  class="trial-button-color"
                  >Continuar</ion-button
                >
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
  </ion-content>
</div>
