<div>
  <header class="extensivo-header">
    <div class="extensivo-header__container">
      <div class="extensivo-header__logo-container">
        <div class="extensivo-header__logo-circle">
          <svg class="extensivo-header__logo">
            <use
              xlink:href="../../assets/icon/symbol-defs.svg#icon-medgrupo"
            ></use>
          </svg>
        </div>
        <ion-label class="extensivo-header__title-logo" token="h20"
          >MEDGRUPO</ion-label
        >
      </div>
      <ion-label class="extensivo-header__title" token="h20"
        >MEDSoft Trial</ion-label
      >
    </div>

    <div class="extensivo-header__stepper">
      <ion-label
        class="extensivo-header__dados"
        token="p14x"
        ds-color="neutral-8"
        >Dados pessoais</ion-label
      >

      <div class="extensivo-header__steps extensivo-header__steps--active">
        <ion-label token="p10b" ds-color="neutral-6">1</ion-label>
        <ion-icon class="med-icon" name="checkmark-outline"></ion-icon>
      </div>

      <div class="extensivo-header__line">&nbsp;</div>

      <div class="extensivo-header__steps">
        <ion-label token="p10b" ds-color="neutral-6">2</ion-label>
        <ion-icon class="med-icon" name="checkmark-outline"></ion-icon>
      </div>

      <div class="extensivo-header__line">&nbsp;</div>

      <div class="extensivo-header__steps">
        <ion-label token="p10b" ds-color="neutral-6">3</ion-label>
        <ion-icon class="med-icon" name="checkmark-outline"></ion-icon>
      </div>
    </div>
  </header>

  <ion-content>
    <main class="extensivo-container extensivo-container--main">
      <div class="extensivo-row">
        <div
          class="extensivo-col extensivo-text-container extensivo-text-container--none"
        >
          <ion-label class="extensivo-title" token="h48x">
            Onde você
            <ion-label
              class="extensivo-title extensivo-title--brand-4"
              token="h48x"
              >estuda?</ion-label
            >
          </ion-label>
        </div>

        <div class="extensivo-col extensivo-col--form">
          <form class="extensivo-form">
            <div class="extensivo-input">
              <ion-label token="p14" ds-color="neutral-8"
                >Em qual faculdade você estuda?</ion-label
              >
              <tp-input-container ds-name="secondary" has-icon="end">
                <ion-select
                  class="margin-top-8"
                  mode="md"
                  ds-name="secondary"
                  placeholder="Selecionar"
                ></ion-select>
                <!-- <ion-icon class="med-icon" slot="end" name="med-baixo"></ion-icon> -->
              </tp-input-container>

              <ion-label token="p14" ds-color="neutral-8"
                >Ano de formação?</ion-label
              >
              <tp-input-container ds-name="secondary" has-icon="end">
                <ion-select
                  class="margin-top-8"
                  mode="md"
                  ds-name="secondary"
                  placeholder="Selecionar"
                ></ion-select>
                <!-- <ion-icon class="med-icon" slot="end" name="med-baixo"></ion-icon> -->
              </tp-input-container>

              <ion-label token="p14" ds-color="neutral-8">Objetivo</ion-label>
              <tp-input-container ds-name="secondary" has-icon="end">
                <ion-select
                  class="margin-top-8"
                  mode="md"
                  ds-name="secondary"
                  placeholder="Selecionar"
                ></ion-select>
                <!-- <ion-icon class="med-icon" slot="end" name="med-baixo"></ion-icon> -->
              </tp-input-container>

              <ion-label token="p14" ds-color="neutral-8"
                >Especialidade dos seus sonhos</ion-label
              >
              <tp-input-container ds-name="secondary" has-icon="end">
                <ion-select
                  class="margin-top-8"
                  mode="md"
                  ds-name="secondary"
                  placeholder="Selecionar"
                ></ion-select>
                <!-- <ion-icon class="med-icon" slot="end" name="med-baixo"></ion-icon> -->
              </tp-input-container>

              <ion-label token="p14" ds-color="neutral-8"
                >Concurso dos seus sonhos</ion-label
              >
              <tp-input-container ds-name="secondary" has-icon="end">
                <ion-select
                  class="margin-top-8"
                  mode="md"
                  ds-name="secondary"
                  placeholder="Selecionar"
                ></ion-select>
                <!-- <ion-icon class="med-icon" slot="end" name="med-baixo"></ion-icon> -->
              </tp-input-container>
            </div>

            <div class="extensivo-button">
              <ion-button mode="ios" expand="block" fill="clear"
                >Voltar</ion-button
              >
              <ion-button
                mode="ios"
                expand="block"
                class="extensivo-button-color"
                >Continuar</ion-button
              >
            </div>
          </form>
        </div>
      </div>
    </main>
  </ion-content>
</div>
