<div>
  <app-header>
    <app-stepper end pageTitle="Seus Estudos"></app-stepper>
  </app-header>

  <ion-content>
    <main class="trial-container trial-container--main">
      <div class="trial-row">
        <div class="trial-col trial-text-container trial-text-container--none">
          <ion-label class="trial-title" token="h48x">
            Onde você
            <ion-label class="trial-title trial-title--brand-4" token="h48x"
              >estuda?</ion-label
            >
          </ion-label>
        </div>

        <div class="trial-col trial-col--form">
          <form class="trial-form">
            <div class="trial-input">
              <ion-label token="p14" ds-color="neutral-8"
                >Em qual faculdade você estuda?</ion-label
              >
              <tp-input-container ds-name="secondary" has-icon="end">
                <ion-select
                  class="margin-top-8"
                  mode="md"
                  ds-name="secondary"
                  placeholder="Selecionar"
                ></ion-select>
                <!-- <ion-icon class="med-icon" slot="end" name="med-baixo"></ion-icon> -->
              </tp-input-container>

              <ion-label token="p14" ds-color="neutral-8"
                >Ano de formação?</ion-label
              >
              <tp-input-container ds-name="secondary" has-icon="end">
                <ion-select
                  class="margin-top-8"
                  mode="md"
                  ds-name="secondary"
                  placeholder="Selecionar"
                ></ion-select>
                <!-- <ion-icon class="med-icon" slot="end" name="med-baixo"></ion-icon> -->
              </tp-input-container>

              <ion-label token="p14" ds-color="neutral-8">Objetivo</ion-label>
              <tp-input-container ds-name="secondary" has-icon="end">
                <ion-select
                  class="margin-top-8"
                  mode="md"
                  ds-name="secondary"
                  placeholder="Selecionar"
                ></ion-select>
                <!-- <ion-icon class="med-icon" slot="end" name="med-baixo"></ion-icon> -->
              </tp-input-container>

              <ion-label token="p14" ds-color="neutral-8"
                >Especialidade dos seus sonhos</ion-label
              >
              <tp-input-container ds-name="secondary" has-icon="end">
                <ion-select
                  class="margin-top-8"
                  mode="md"
                  ds-name="secondary"
                  placeholder="Selecionar"
                ></ion-select>
                <!-- <ion-icon class="med-icon" slot="end" name="med-baixo"></ion-icon> -->
              </tp-input-container>

              <ion-label token="p14" ds-color="neutral-8"
                >Concurso dos seus sonhos</ion-label
              >
              <tp-input-container ds-name="secondary" has-icon="end">
                <ion-select
                  class="margin-top-8"
                  mode="md"
                  ds-name="secondary"
                  placeholder="Selecionar"
                ></ion-select>
                <!-- <ion-icon class="med-icon" slot="end" name="med-baixo"></ion-icon> -->
              </tp-input-container>
            </div>

            <div class="trial-button">
              <ion-button mode="ios" expand="block" fill="clear"
                >Voltar</ion-button
              >
              <ion-button mode="ios" expand="block" class="trial-button-color"
                >Continuar</ion-button
              >
            </div>
          </form>
        </div>
      </div>
    </main>
  </ion-content>
</div>
