<div>
  <app-header>
    <app-stepper end pageTitle="Conclusão" [activeStep]="3"></app-stepper>
  </app-header>

  <ion-content>
    <main class="trial-scroll">
    <div class="trial-container">
      <div class="trial-row">
        <div class="trial-col">
          <div class="trial-text-container">
            <ion-label class="trial-title" token="h48x">
              Cadastro realizado
              <ion-label
                class="trial-title trial-title--brand-4"
                token="h48x"
                ds-color="brand"
                >com sucesso!
              </ion-label>
            </ion-label>
            <ion-label class="margin-top-24" token="p16x" ds-color="neutral-8"
              >A partir de agora, seu CPF fica habilitado para criar um perfil no MEDSoft.
            </ion-label>
            <ion-label class="margin-top-24" token="p16x" ds-color="neutral-8"
              >Você deve baixar o aplicativo do MEDGRUPO nas lojas e cadastrar uma senha.
            </ion-label>
            <ion-label class="margin-top-24" token="p16x" ds-color="neutral-8"
              >Essa experiência é gratuita e você terá acesso a três semanas de aula, além de todas as outras funcionalidades.
            </ion-label>
            <ion-label class="margin-top-24" token="p16x" ds-color="neutral-8"
              >Boa experiência MEDGRUPO!
            </ion-label>
          </div>
        </div>
      </div>
      <div class="trial-row trial-row--button">
        <div class="trial-col trial-col--button">
          <div class="trial-baixe-agora">
            <div class="trial-button">           
              <a class="trial-baixe-agora__link trial-baixe-agora__link--windows-mac" href="#">
                <img class="trial-baixe-agora__imagem trial-baixe-agora__imagem--windows-mac" src="../../assets/img/btn_windows_mac.png" alt="Logos Windows Mac">
              </a>
              <a class="trial-baixe-agora__link trial-baixe-agora__link--apple-store" href="#">
                <img class="trial-baixe-agora__imagem trial-baixe-agora__imagem--apple-store" src="../../assets/img/btn_applestore.png" alt="Logos Apple Store">
              </a>
              <a class="trial-baixe-agora__link trial-baixe-agora__link--google-play" href="#">
                <img class="trial-baixe-agora__imagem trial-baixe-agora__imagem--google-play" src="../../assets/img/btn_google_play.png" alt="Logos Google Play">
              </a>
            </div>
          </div>
        </div>
      </div>       
    </div>
    </main>
  </ion-content>
</div>
