<div>
  <app-header>
    <app-stepper end pageTitle="Conclusão"></app-stepper>
  </app-header>

  <ion-content>
    <main class="trial-container trial-container--main">
      <div class="trial-row trial-row--center-left">
        <div class="trial-col trial-col--center-left">
          <div class="trial-text-container">
            <ion-label class="trial-title" token="h48x">
              Cadastro realizado
              <ion-label
                class="trial-title trial-title--brand-4"
                token="h48x"
                ds-color="brand"
                >com sucesso!
              </ion-label>
            </ion-label>
            <ion-label class="margin-top-24" token="p16x" ds-color="neutral-8"
              >Você receberá um e-mail com todas as instruções para baixar o
              aplicativo MEDSoft.
            </ion-label>
          </div>
          <div class="trial-button">
            <ion-button mode="ios" fill="clear">
              <svg slot="start" class="med-icon">
                <use xlink:href="assets/icon/symbol-defs.svg#icon-email"></use>
              </svg>
              <!-- <ion-icon
                slot="start"
                class="med-icon"
                name="med-email"
              ></ion-icon> -->
              <ion-label token="p16b">
                Não recebi o e-mail.
                <ion-label token="p16b" ds-color="brand">
                  Enviar novamente
                </ion-label>
              </ion-label>
            </ion-button>
          </div>
        </div>
      </div>
    </main>
  </ion-content>
</div>
