<div>
  <app-header></app-header>

  <ion-content>
    <main class="trial-container trial-container--main">
      <div class="trial-row trial-row--text-container-inicio">
        <div class="trial-col">
          <div class="trial-text-container">
            <ion-label class="trial-title" token="h48x">
              Experimente
              <ion-label class="trial-title trial-title--brand-4" token="h48x"
                >o melhor curso preparatório
              </ion-label>

              para residência médica do mundo
            </ion-label>
            <ion-label
              class="trial-inicio__text margin-top-24"
              token="p16x"
              ds-color="neutral-8"
              >Inscreva-se para o período de testes do MEDSoft. É fácil e
              rápido!
            </ion-label>
          </div>
          <div class="trial-button trial-button--tela-inicio">
            <ion-button mode="ios">Inscreva-se</ion-button>
          </div>
        </div>

        <div class="trial-col trial-col--imagem-container">
          <img
            class="trial-col__imagem"
            src="assets/img/tela-inicio.svg"
            alt="Imagem tela inicial"
          />
        </div>
      </div>
    </main>
  </ion-content>
</div>
