<div>
  <app-header></app-header>

  <ion-content>
    <main class="trial-scroll">
      <div class="trial-container">
        <div class="trial-row">
          <div class="trial-col">
            <div class="trial-text-container">
              <ion-label class="trial-title trial-title--brand-4" token="h48x">
                Olá!
              </ion-label>
              <ion-label
                class="trial-inicio__text margin-top-24"
                token="p18x"
                ds-color="neutral-8"
                >Seja bem-vindo ao passo inicial da sua aprovação! Já já você
                conhecerá o MEDSoft, o aplicativo criado pelo MEDGRUPO para ser
                seu companheiro fiel na preparação para a residência médica.
              </ion-label>
              <ion-label
                class="trial-inicio__text margin-top-24"
                token="p18x"
                ds-color="neutral-8"
                >Aulas, material didático, treinamento com questões e
                SmartCards, mentoria, planejamento de estudos e a nossa
                revolucionária inteligência do MEDSmart estarão ali te
                esperando.
              </ion-label>
              <ion-label
                class="trial-inicio__text margin-top-24"
                token="p18x"
                ds-color="neutral-8"
                >Para degustar um pouquinho da nossa essência, você precisa
                fazer um simples e rápido cadastro.
              </ion-label>
            </div>
            <div class="trial-button trial-button--inicio">
              <ion-button
                class="trial-button-color"
                mode="ios"
                (click)="clickHandle()"
                >Cadastre-se</ion-button
              >
            </div>
          </div>
        </div>
      </div>
    </main>
  </ion-content>
</div>
