<div>
  <header class="trial-header">
    <div class="trial-header__container">
      <div class="trial-header__logo-container">
        <div class="trial-header__logo-circle">
          <svg class="trial-header__logo">
            <use xlink:href="assets/icon/symbol-defs.svg#icon-medgrupo"></use>
          </svg>
        </div>
        <ion-label class="trial-header__title-logo" token="h20"
          >MEDGRUPO</ion-label
        >
      </div>
      <ion-label class="trial-header__title" token="h20"
        >MEDSoft Trial</ion-label
      >
    </div>

    <div class="trial-header__stepper trial-header__stepper--none">
      <ion-label class="trial-header__dados" token="p14x" ds-color="neutral-8"
        >Dados pessoais</ion-label
      >

      <div class="trial-header__steps trial-header__steps--checked">
        <ion-label token="p10b" ds-color="neutral-6">1</ion-label>
        <ion-icon class="med-icon" name="checkmark-outline"></ion-icon>
      </div>

      <div class="trial-header__line">&nbsp;</div>

      <div class="trial-header__steps trial-header__steps--active">
        <ion-label token="p10b" ds-color="neutral-6">2</ion-label>
        <ion-icon class="med-icon" name="checkmark-outline"></ion-icon>
      </div>

      <div class="trial-header__line">&nbsp;</div>

      <div class="trial-header__steps">
        <ion-label token="p10b" ds-color="neutral-6">3</ion-label>
        <ion-icon class="med-icon" name="checkmark-outline"></ion-icon>
      </div>
    </div>
  </header>

  <ion-content>
    <main class="trial-container trial-container--main">
      <div class="trial-row trial-row--text-container-inicio">
        <div class="trial-col">
          <div class="trial-text-container">
            <ion-label class="trial-title" token="h48x">
              Experimente
              <ion-label class="trial-title trial-title--brand-4" token="h48x"
                >o melhor curso preparatório
              </ion-label>

              para residência médica do mundo
            </ion-label>
            <ion-label
              class="trial-inicio__text margin-top-24"
              token="p16x"
              ds-color="neutral-8"
              >Inscreva-se para o período de testes do MEDSoft. É fácil e
              rápido!
            </ion-label>
          </div>
          <div class="trial-button trial-button--tela-inicio">
            <ion-button mode="ios">Inscreva-se</ion-button>
          </div>
        </div>

        <div class="trial-col trial-col--imagem-container">
          <img
            class="trial-col__imagem"
            src="assets/img/tela-inicio.svg"
            alt="Imagem tela inicial"
          />
        </div>
      </div>
    </main>
  </ion-content>
</div>
